<img src="images/me-small.jpg" style="float: right; width: 130px; height: 131px;"></img>
Web developer in Malaysia. Currently work at small company building internet 
services using Python and Django web framework.

Other than Python/Django, also know PHP, JavaScript and the following list of tools,
technologies and concepts with varying degree of understanding and familiarity:-

* Protocols / Specification
    * [HTTP](http://www.ietf.org/rfc/rfc2616.txt)

* Web Services
    * [Amazon Web Services](http://aws.amazon.com/)
    * Redhat Openshift PaaS
    * Heroku PaaS
    * Appfog Paas

* Sysadmin / Automation
    * Fabric
    * Buildout

`ImportError` is an error message emitted by Python when it failed to load certain
module as requested by programmer. It's a very common error when someone new to
the language trying it out. This website on the same theme, will try provide help
for newcomers on any technologies to overcome their first hurdle.

## Others
I can also be found at the following sites:-

* http://k4ml.blogspot.com/
* http://k4ml.github.io/
* http://metak4ml.blogspot.com/
* http://www.mydev.my/
* http://github.com/k4ml/
