<img src="/images/me-small.jpg" style="float: right; width: 130px; height: 131px;"></img>
Web developer in Malaysia. Currently work at [MARIMORE Inc][marimore] building internet 
services using Python and Django web framework.

`ImportError` is an error message emitted by Python when it failed to load certain
module as requested by programmer. It's a very common error when someone new to
the language trying it out. This website on the same theme, will try provide help
for newcomers on any technologies to overcome their first hurdle.

### Others
I can also be found at the following sites:-

* http://k4ml.blogspot.com/
* http://k4ml.github.io/
* http://metak4ml.blogspot.com/
* http://www.mydev.my/
* http://github.com/k4ml/

### Disclaimers
The postings on this site are my own and don't necessarily represent my employer's
positions, strategies or opinions.

[marimore]:http://www.marimore.co.jp/
