<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"><channel><title>ImportError (web)</title><link>http://k4ml.github.io</link><description></description><atom:link href="http://k4ml.github.io/categories/web.xml" type="application/rss+xml" rel="self"></atom:link><language>en</language><lastBuildDate>Sat, 20 Jun 2015 12:11:36 GMT</lastBuildDate><generator>Nikola &lt;http://getnikola.com/&gt;</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Web Application vs Desktop Application</title><link>http://k4ml.github.io/posts/web-application-vs-desktop-application.html</link><description>&lt;p&gt;Not translated yet, please read the Malay version.&lt;/p&gt;</description><guid>http://k4ml.github.io/posts/web-application-vs-desktop-application.html</guid><pubDate>Fri, 18 Oct 2013 10:42:26 GMT</pubDate></item></channel></rss>