<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"><channel><title>ImportError (web)</title><link>http://k4ml.github.io</link><description></description><atom:link href="http://k4ml.github.io/ms/categories/web.xml" type="application/rss+xml" rel="self"></atom:link><language>ms</language><lastBuildDate>Sat, 20 Jun 2015 12:11:36 GMT</lastBuildDate><generator>Nikola &lt;http://getnikola.com/&gt;</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Aplikasi Web vs Aplikasi Desktop</title><link>http://k4ml.github.io/ms/posts/aplikasi-web-vs-aplikasi-desktop.html</link><description>&lt;div&gt;&lt;p&gt;Mereka yang baru bermula dalam pembangunan aplikasi web kerap kali keliru akan 
konsep dalam aplikasi web dan menganggap ianya sama dengan aplikasi desktop. Ini menyebabkan mereka mengharapkan dapat melakukan perkara yang sama seperti 
mana dalam aplikasi desktop. Antara contoh soalan popular yang seringkali 
ditanya adalah bagaimana untuk mencetak daripada aplikasi web mereka.&lt;/p&gt;
&lt;p&gt;Pertama sekali mari kita lihat diagram ringkas susun atur sebuah aplikasi 
desktop:-&lt;/p&gt;
&lt;p&gt;&lt;img src="http://i.imgur.com/LWG9VlQl.jpg"&gt;&lt;/p&gt;
&lt;p&gt;Dalam rajah di atas, kita dapat lihat bagaimana aplikasi yang kita bangunkan 
dapat berhubung terus dengan &lt;em&gt;hardware&lt;/em&gt; melalui OS (&lt;em&gt;Operating System&lt;/em&gt;). Ini 
membolehkan aplikasi tersebut untuk mencapai dan menggunakan peranti-peranti 
lain seperti &lt;em&gt;printer&lt;/em&gt; dan &lt;em&gt;webcam&lt;/em&gt; yang bersambung dengan komputer tersebut. Seterusnya, kita lihat pula rajah susunan sebuah aplikasi web:-&lt;/p&gt;
&lt;p&gt;&lt;img src="http://i.imgur.com/eOt8gRzl.jpg"&gt;&lt;/p&gt;
&lt;p&gt;Di atas dapat diperhatikan bagaimana aplikasi tidak lagi dijalankan secara 
terus pada &lt;em&gt;computer&lt;/em&gt; sebagaimana dalam aplikasi desktop. Sebaliknya ia hanya 
dicapai melalui perantaraan &lt;em&gt;browser&lt;/em&gt;. Ini menyebabkan capaian aplikasi web 
kepada fungsi-fungsi komputer hanya terhad kepada apa yang &lt;em&gt;browser&lt;/em&gt; benarkan. Dan sememangya atas tujuan keselamatan, &lt;em&gt;browser&lt;/em&gt; akan menghadkan capaian 
aplikasi kepada &lt;em&gt;hardware&lt;/em&gt; seperti &lt;em&gt;printer&lt;/em&gt; dan &lt;em&gt;webcam&lt;/em&gt;. Ini antara perbezaan penting yang harus difahami apabila membangunkan sebuah aplikasi web.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Perhatian&lt;/strong&gt;: Rajah di atas menunjukkan susunan LOGIKAL manakala secara FIZIKAL boleh sahaja sebuah aplikasi web itu dijalankan dalam komputer yang sama. Walaubagaimana pun kekangan asal sebuah aplikasi web tetap sama. &lt;/p&gt;&lt;/div&gt;</description><category>web</category><category>desktop</category><guid>http://k4ml.github.io/ms/posts/aplikasi-web-vs-aplikasi-desktop.html</guid><pubDate>Fri, 18 Oct 2013 10:42:26 GMT</pubDate></item></channel></rss>